@using FusionHybrid.Abstractions
@inherits LayoutComponentBase

@inject ICounterService counterService

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@code {


    protected async override Task OnInitializedAsync()
    {
        var computed = await Computed.Capture(ct => counterService.GetCount());
        while (true)
        {
            System.Console.WriteLine($"- {computed.Value}");
            await computed.WhenInvalidated();
            computed = await computed.Update();
        }
    }
}